# (canada fork only): add requirements.txt for CKAN install
petl>=1.6
marko>=1.0
attrs>=22.2.0
jinja2>=3.0
pyyaml>=5.3
isodate>=0.6
rfc3986>=1.4
chardet>=3.0
pydantic>=2.0
requests>=2.10
humanize>=4.2
tabulate>=0.8.10
jsonschema>=4.20
simpleeval>=0.9.11
stringcase>=1.2
typer>=0.12
validators>=0.18
python-slugify>=1.2
python-dateutil>=2.8
typing-extensions>=4.3
